@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container" style="padding:30px;">

    <div class="row">

        <h1>Wel Come to the Admin Panel </h1>

        <h1 class="btn btn-default"> <a href='@Url.Action("ViewVilla","ViewVilla")'>View Villa </a></h1>

        <h1 class="btn btn-primary"><a href='@Url.Action("Index","Home")'>Back to Index Page </a></h1>



    </div>


</div>